{{ define "main" }}

<div class="row">
    <div class="col-md-4" style="text-align: center;">
        <img class="img-responsive img-rounded" src="{{ "img/tux.png" | absURL }}" alt="">
    </div>
    <div class="col-md-8">
        <h1>Tchelinux, Software Livre em Ação!</h1>
        <p style="text-align: justify;">
            <br />
            A paixão pelo <b>Software Livre</b> assim como o desejo de <b>compartilhar conhecimentos</b> fez com que um
            grupo de usuários se reunisse e trabalhasse junto na organização de eventos para a divulgação de ferramentas
            e da filosofia <i>open source</i> em <b>instituições educacionais do Rio Grande do Sul</b>. Aproveitando a
            ideia de voluntariado, o grupo decidiu que os <b>eventos seriam sempre gratuitos</b>, porém os
            <b>participantes são encorajados a doar 2kg de alimentos não-perecíveis</b>, que são <b>encaminhados a
                instituições de caridade</b> da cidade onde ocorre o evento.<br />
            <br />
            Desde <b>Outubro de 2006</b> o <b>Tchelinux</b> realizou <b>103 eventos</b> em <b>22</b> com o auxílio de
            <b>milhares de voluntários</b>, que ajudaram na organização e apresentando <b>1658 palestras</b> foram
            assistidas por <b>12934 participantes</b> que doaram <b>18589 kg de alimentos</b> para <b>55 instituições de
                caridade</b>. <br />
            <br />
            Há <b>muito trabalho</b> a ser feito e <b>todos são bem-vindos</b> a participar do <b>Tchelinux</b> e ajudar
            a divulgar o <b>Software Livre</b> e levar o conhecimento à todos cantos do <b>Sul do Brasil!</b>
            <br />
            <br />
            Contamos com você!
            <br /><br /><br />
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <h2>Eventos!</h2>
        <p style="text-align: justify;">
            No momento estamos trabalhando no calendário de eventos do Tchelinux 2020 e vamos publicar as datas logo!
        </p>
        <a class="btn btn-default" href="http://wiki.tchelinux.org/#!eventos/calendario.md">Saiba mais...</a>
    </div>

    <div class="col">
        <h2>Participe!</h2>
        <p style="text-align: justify;">
            O Tchelinux possui vários canais de comunicação (Lista de discussão, Canal de IRC, Redes Socias etc),
            e todos são bem-vindos para participar.
        </p>
        <a class="btn btn-default" href="http://wiki.tchelinux.org/#!como_participar.md">Saiba mais...</a>
    </div>

    <div class="col">
        <h2>Divulgue!</h2>
        <p style="text-align: justify;">
            Gostou da ideia? Divulgue o Tchelinux na sua Escola ou Comunidade e ajude a levar os eventos
            do grupo até a sua cidade!
        </p>
        <a class="btn btn-default" href="http://wiki.tchelinux.org/#!como_ajudar.md">Saiba mais...</a>
    </div>
</div>

<div class="row">
    {{ range sort $.Site.Data.events }}
        {{ range sort . "date" }}
            {{ if (time .date).After now }}
            <a class="card text-dark m-1" href='{{ "e/2020/poa/" | absURL }}' style="width: 18rem;">
                <img class="card-img-top" src='{{ printf "events/%d/%s/cover.jpg" (time .date).Year .ref | absURL }}' alt="{{ .title }}">
                <div class="card-header">
                    {{ .title }}
                    {{ dateFormat "Monday, Jan 2, 2006" .date }}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ .location.description }}
                    </p>
                </div>
            </a>
            {{ end }}
        {{ end }}
    {{ end }}
</div>

{{ end }}