{{ define "main" }}

<div class="row mt-4">
    <div class="col-md-4" style="text-align: center;">
        <img class="img-responsive img-rounded" src='{{ "img/tux.png" | absURL }}' alt="">
    </div>
    <div class="col-md-8">
        {{ .Content }}
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <h2>Eventos!</h2>
        <p style="text-align: justify;">
            No momento estamos trabalhando no calendário de eventos do Tchelinux 2020 e vamos publicar as datas logo!
        </p>
        <a class="btn btn-outline-secondary btn-block" href="{{ "events" | absURL }}">Saiba mais...</a>
    </div>

    <div class="col">
        <h2>Participe!</h2>
        <p style="text-align: justify;">
            O Tchelinux possui vários canais de comunicação (Lista de discussão, Canal de IRC, Redes Socias etc),
            e todos são bem-vindos para participar.
        </p>
        <a class="btn btn-outline-secondary btn-block" href="http://wiki.tchelinux.org/#!como_participar.md">Saiba mais...</a>
    </div>

    <div class="col">
        <h2>Divulgue!</h2>
        <p style="text-align: justify;">
            Gostou da ideia? Divulgue o Tchelinux na sua Escola ou Comunidade e ajude a levar os eventos
            do grupo até a sua cidade!
        </p>
        <a class="btn btn-outline-secondary btn-block" href="http://wiki.tchelinux.org/#!como_ajudar.md">Saiba mais...</a>
    </div>
</div>

<div class="card-deck">
    {{ range sort $.Site.Data.events "date" "asc" | first 8 }}
        {{ if (time .date).After now }}
            {{ partial "index/card" (dict "card" . "date" (time .date) "ctx" $) }}
        {{ end }}
    {{ end }}
</div>

{{ end }}